.text__wrapper{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    text-align: left;
    font-size: 0.625rem;
    color: var(--text);
}

.checkbox{
    border: 1px solid var(--c1);
    height: 100%;
}

.policy__link{
    color: var(--text);
    text-decoration: underline;
}