*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: none;
    outline: none;
    text-decoration: none;
    border: none;
    background-repeat: no-repeat;
    white-space: pre-line;
    font-family: 'Involve', sans-serif;
    font-weight: 400;
    user-select: none;
    list-style: none;
    object-fit: cover;
    object-position: center;
}

:root{
    --c1: #692F6C;
    --c2: #F5E0C7;
    --c3: #fff;
    --c4: #FFD9AB;
    --c5: #FFF4E8;
    --c6: #524431;
    --c7: #2AABEE;
    --c8: #FCF7F7;
    --text: #423A2F;
}

html, body{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.mainContainer{
    max-width: 1440px;
    margin: 0 auto;
    height: 100%;
}
.main{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
}

h1{
    font-size: clamp(
		2.75rem,
		calc(44px + (50 - 44) * ((100vw - 390px) / (1440 - 390))),
		3.125rem
	);
    font-weight: 400;
    color: var(--c1);
    font-family: 'Involve', sans-serif;
    text-transform: uppercase;
    line-height: 0.9;
}

h2{
    font-size: clamp(
		1.375rem,
		calc(22px + (28 - 22) * ((100vw - 390px) / (1440 - 390))),
		1.75rem
	);
    font-weight: 600;
    font-family: 'NK133', sans-serif;
    text-transform: uppercase;
    color: var(--text);
}

button{
    transition: all 0.2s;
    cursor: pointer;
}
button:hover{
    transform: scale(1.05);
}

textarea::placeholder{
    color: var(--c1);
}

h4{
    font-family: "Involve", sans-serif;
    color: var(--c1);
    font-size: clamp(
		1.375rem,
		calc(22px + (28 - 22) * ((100vw - 390px) / (1440 - 390))),
		1.75rem
	);
}